service: zzzcg

custom:
  stage: ${opt:stage, self:provider.stage}
  settings:
    JOBS_TABLE: ${self:custom.stage}-jobs

provider:
  name: aws
  runtime: nodejs10.x
  environment: ${self:custom.settings}
  region: eu-central-1
  iamRoleStatements: 
    - Effect: "Allow"
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:DescribeStream
        - dynamodb:GetRecords
        - dynamodb:GetShardIterator
        - dynamodb:ListStreams
      Resource:
          - "arn:aws:dynamodb:${self:provider.region}:*:table/${self:custom.settings.JOBS_TABLE}"

functions:
  test:
    handler: handler.crawler 
    timeout: 20
  streamFunction:
    handler: streamFunction.handler
    timeout: 20
    events:
      - stream: arn:aws:dynamodb:eu-central-1:245862733847:table/stg-jobs/stream/2019-12-13T11:59:28.470
    environment:
      url: $(env:API_URL)
      region: $(env:REGION)
      authType: $(env:AUTH_TYPE)
      apiKey: $(env:API_KEY)

resources: 
  Resources:
    JobsTable:
      Type: AWS::DynamoDB::Table
      Properties:
          AttributeDefinitions:
          - AttributeName: "id"
            AttributeType: "S"
          KeySchema:
          - AttributeName: "id"
            KeyType: "HASH"
          ProvisionedThroughput:
            ReadCapacityUnits: 1
            WriteCapacityUnits: 1
          StreamSpecification:
            StreamViewType: NEW_IMAGE
          TableName: ${self:custom.settings.JOBS_TABLE}